/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <behaviors/unicode.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

&uc {
        default-mode = <UC_MODE_LINUX>;
};

/ {
        behaviors {
                hrm: home_row_mod {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-preferred";
                        require-prior-idle-ms = <150>;
                        tapping-term-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-on-release;
                };

                tkl: thumb_keys_left {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        require-prior-idle-ms = <150>;
                        tapping-term-ms = <150>;
                        bindings = <&mo>, <&kp>;
                        // Right-hand positions
                        hold-trigger-key-positions = <
                                6 7 8 9 10 11
                                18 19 20 21 22 23
                                30 31 32 33 34 35
                                39 40 41
                        >;
                        hold-trigger-on-release;
                };
                tkr: thumb_keys_right {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        require-prior-idle-ms = <150>;
                        tapping-term-ms = <150>;
                        bindings = <&mo>, <&kp>;
                        // Left-hand positions
                        hold-trigger-key-positions = <
                                0 1 2 3 4 5
                                12 13 14 15 16 17
                                24 25 26 27 28 29
                                36 37 38
                        >;
                        hold-trigger-on-release;
                };
        };

        keymap {
                compatible = "zmk,keymap";

        		default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |  ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENT  |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | NAV | FUN | MSE |   | VIM | BSP  | ALT |
                        bindings = <
   &kp TAB   &kp Q       &kp W       &kp E        &kp R        &kp T   &kp Y &kp U        &kp I        &kp O       &kp P           &kp BSPC
   &kp ESC   &hrm LGUI A &hrm LALT S &hrm LSHFT D &hrm LCTRL F &kp G   &kp H &hrm RCTRL J &hrm RSHFT K &hrm RALT L &hrm RCTRL SEMI &kp ENTER
   &kp LSHFT &kp Z       &kp X       &kp C        &kp V        &kp B   &kp N &kp M        &kp COMMA    &kp DOT     &kp FSLH        &kp RSFT
                                     &tkl 3 ESC   &tkl 5 SPACE    &tkl 6 TAB    &tkr 4 RET   &tkr 7 BACKSPACE &kp RALT
                        >;
                };

                lafayette_layer {
// -----------------------------------------------------------------------------------------
// |      |  ^  |  <  |  >  |  $  |  %  |   |  @  |  &  |  *  |  '  |  `  |      |
// |      |  {  |  (  |  )  |  }  |  =  |   |  \  |  +  |  -  |  /  |  "  |      |
// |      |  ~  |  [  |  ]  |  _  |  #  |   |  |  |  !  |  ;  |  :  |  ?  |      |
//                    | NUM | SPC |     |   |     | BSP | NUM |
                        bindings = <
   &trans &kp CARET &kp LT   &kp GT   &kp DLLR  &kp PRCNT   &kp AT   &kp AMPS &kp ASTERISK &kp SQT   &kp GRAVE &trans
   &trans &kp LBRC  &kp LPAR &kp RPAR &kp RBRC  &kp EQUAL   &kp BSLH &kp PLUS &kp MINUS    &kp FSLH  &kp DQT   &trans
   &trans &kp TILDE &kp LBKT &kp RBKT &kp UNDER &kp HASH    &kp PIPE &kp EXCL &kp SEMI     &kp COLON &kp QMARK &trans
                             &mo 2    &kp SPACE &trans      &trans   &kp BACKSPACE &mo 2
                        >;
                };

                num_row_layer {
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |      |  „  |  “  |  ”  |  ¢  |  ‰  |   |     |  -  |  ,  |  .  |  /  |      |
//                    | SYM | SPC |     |   |     | BSP | SYM |
                        bindings = <
   &trans &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT     &kp CARET &kp AMPS  &kp ASTERISK &kp LPAR  &kp RPAR &trans
   &trans &kp N1       &kp N2       &kp N3       &kp N4       &kp N5        &kp N6    &kp N7    &kp N8       &kp N9    &kp N0   &trans
   &trans &uc 0x201E 0 &uc 0x201C 0 &uc 0x201D 0 &uc 0x00A2 0 &uc 0x2030 0  &none     &kp MINUS &kp COMMA    &kp DOT   &kp FSLH &trans
                                    &mo 1        &kp SPACE    &trans        &trans    &kp BACKSPACE &mo 1
                        >;
                };

                vim_nav_layer {
// -----------------------------------------------------------------------------------------
// |      | NUM | C-T | BAK | FWD |     |   | HOME | PGDN | PGUP | END  | G-P  |      |
// |      | C-A | C-S | S-T | TAB |     |   | LEFT | DOWN |  UP  | RGHT | FUN  |      |
// |      | C-Z | C-X | C-C | C-V |     |   | M_L  | M_D  | M_U  | M_R  |      |      |
//                    |     |     |     |   |      | DEL  | ESC  |
                        bindings = <
   &trans &mo 4     &kp LC(T) &kp C_AC_BACK &kp C_AC_FORWARD &none   &kp HOME       &kp PG_DN      &kp PG_UP    &kp END         &kp LG(P) &trans
   &trans &kp LC(A) &kp LC(S) &kp LS(TAB)   &kp TAB          &none   &kp LEFT       &kp DOWN       &kp UP       &kp RIGHT       &mo 5     &trans
   &trans &kp LC(Z) &kp LC(X) &kp LC(C)     &kp LC(V)        &none   &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &none     &trans
                              &trans        &trans           &trans  &trans         &kp DEL        &kp ESC
                        >;
                };

                num_nav_layer {
// -----------------------------------------------------------------------------------------
// |      | TAB | HOME|  UP | END | PGUP|   |  /  |  7  |  8  |  9  | G-P  |      |
// |      | C-A | LEFT| DOWN| RGHT| PGDN|   |  -  |  4  |  5  |  6  |  0   |      |
// |      | C-Z | C-X | C-C | C-V | S-T |   |  ,  |  1  |  2  |  3  |  .   |      |
//                    |     |     |     |   |     | DEL | ESC |
                        bindings = <
   &trans &kp TAB   &kp HOME &kp UP    &kp END   &kp PG_UP   &kp FSLH  &kp N7 &kp N8 &kp N9 &kp LG(P) &trans
   &trans &kp LC(A) &kp LEFT &kp DOWN  &kp RIGHT &kp PG_DN   &kp MINUS &kp N4 &kp N5 &kp N6 &kp N0    &trans
   &trans &kp LC(Z) &kp LC(X)&kp LC(C) &kp LC(V) &kp LS(TAB) &kp COMMA &kp N1 &kp N2 &kp N3 &kp DOT   &trans
                             &trans    &trans    &trans      &trans    &kp DEL &kp ESC
                        >;
                };

                fun_pad_layer {
// -----------------------------------------------------------------------------------------
// |      | F1  | F2  | F3  | F4  |     |   |     |     |     |     |     |      |
// |      | F5  | F6  | F7  | F8  |     |   |     | CTRL| SHFT| ALT | GUI |      |
// |      | F9  | F10 | F11 | F12 |     |   |     |     |     |     |     |      |
//                    | SYM | SPC |     |   |     | BSP | SYM |
                        bindings = <
   &trans &kp F1 &kp F2  &kp F3  &kp F4  &none   &none &none      &none      &none     &none    &trans
   &trans &kp F5 &kp F6  &kp F7  &kp F8  &none   &none &kp LCTRL  &kp LSHFT  &kp LALT  &kp LGUI &trans
   &trans &kp F9 &kp F10 &kp F11 &kp F12 &none   &none &none      &none      &none     &none    &trans
                         &mo 1   &kp SPACE &trans &trans &kp BACKSPACE &mo 1
                        >;
                };

                mouse_pad_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     | LCLK| MCLK| RCLK|     |      |
// |      |     |     |     |     |     |   | M_L | M_D | M_U | M_R |     |      |
// |      |     |     |     |     |     |   | S_L | S_D | S_U | S_R |     |      |
//                    | DEL |     |     |   |     |     | ESC |
                        bindings = <
   &trans &none &none &none &none &none   &none          &mkp LCLK      &mkp MCLK    &mkp RCLK       &none &none
   &trans &none &none &none &none &none   &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &none &none
   &trans &none &none &none &none &none   &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &none &none
                        &kp DEL &trans &trans  &trans &trans &kp ESC
                        >;
                };

                bt_layer {
// -----------------------------------------------------------------------------------------
// |      | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     | PRV | NXT |     |     |      |
// |      | CLR | ALL |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none  &none      &none      &none &none &trans
   &trans &none        &none          &none        &none        &none        &none  &bt BT_PRV &bt BT_NXT &none &none &trans
   &trans &bt BT_CLR   &bt BT_CLR_ALL &none        &none        &none        &none  &none      &none      &none &none &trans
                                      &trans       &trans       &trans       &trans &trans     &trans
                        >;
                };
        };
};
